@using Shop.Data.Models
@model IEnumerable<Product>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table>
                    <tr>
                        <th align="left">№</th>
                        <th align="left">Наименование</th>
                    </tr>
            @{ foreach (var shop in Model){
                    <tr>
                        <td align="center">@shop.Id</td>
                        <td align="center">@shop.Description</td>
                    </tr>
                    }
               }
      </table>
</body>
</html>

